<h2>Contacts</h2>

<form>
  <input placeholder="first name" ng-model="person.firstName">
  
  <br>
  <input placeholder="last name" ng-model="person.lastName">
	
 <button type="submit" ng-click="addPerson(person);person = null;">add</button>
</form>



<br>

<ul id="contacts" ng-show="contacts.length">
    <li ng-repeat="contact in contacts">{{contact.firstName}} {{contact.lastName}}
	<button type="button" ng-click="remove($index, contact);">remove</button>
	</li>
</ul>

<div style="margin-bottom: 20px">
	Iterate data
	<button type="button" ng-click="testData();">test</button>
</div>
<div style="margin-bottom: 20px">
	<button type="button" ng-click="removeAll();">delete all</button>
</div>
<div style="margin-bottom: 20px">
	<button type="button" ng-click="addToAll();">add to all</button>
</div>

<div></div>